name: release

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest # 运行环境
    steps:
      - name: checkout
        uses: actions/checkout@master
      - name: nodejs installation
        uses: actions/setup-node@v2
        with:
          node-version: "18"
      - name: npm install
        run: npm install
        working-directory: './' # working-directory 指定 shell 命令运行目录
      - name: npm run build
        run: npm run build
        working-directory: './'
      - name: scp
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORDNEW }}
          source: 'build/*'
          target: '/www/wwwroot/astrbot.soulter.top/'
      - name: script
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORDNEW }}
          script: |
            cd /www/wwwroot/astrbot.soulter.top/
            rm -rf center
            mv build/ center/
